<div class="mp-header">
  <mat-icon>
      dashboard
  </mat-icon>
    Dashboard
    <ul class="breadcrumb">
    <li>
      Dashboard
    </li>
  </ul>
</div>
<div class="mp-content">
  <div class="mp-row">
    <div class="mp-col-4">
      <mat-card class="mat-card-draft">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <mat-icon class="fs8_4">
                insert_drive_file
              </mat-icon>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos em rascunhos
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mp-col-4">
      <mat-card class="mat-card-publish">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <mat-icon class="fs8_4">
                publish
              </mat-icon>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos em publicação
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mp-col-4">
      <mat-card class="mat-card-approved">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <mat-icon class="fs8_4">
                spellcheck
              </mat-icon>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos aprovados
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
