<div class="mp-header">
  <i class="icon icon-dashboard"></i>
    Painel Informativo
    <ul class="breadcrumb">
    <li>
      Painel Informativo
    </li>
  </ul>
</div>
<div class="mp-content">
  <div class="mp-row">
    <div class="mp-col-4">
      <mat-card class="mat-card-draft">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <i class="icon icon-arquivo fs8_4"></i>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos em rascunhos
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mp-col-4">
      <mat-card class="mat-card-publish">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <i class="icon icon-publicar fs8_4"></i>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos em publicação
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mp-col-4">
      <mat-card class="mat-card-approved">
        <mat-card-content>
          <div class="mp-row">
            <div class="mp-col-6">
               <i class="icon icon-documento-ativar fs8_4"></i>
            </div>
            <div class="mp-col-6">
             <h6 class="fs3 text-right">
                01
              </h6>
              <p class="text-right">
                Casos aprovados
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
