<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Administrativo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a routerLink="/dashboard" >
      <mat-icon>dashboard</mat-icon>
      Painel informativo
    </a>
      <a routerLink="/buscar-caso" >
      <mat-icon>search</mat-icon>
      Buscar Caso
    </a>
     <a routerLink="/criar-caso" >
      <mat-icon>plus_one</mat-icon>
      Criar Caso
    </a> 
  </mat-expansion-panel>
</mat-accordion>
