<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Caso
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a routerLink="/dashboard" >
      <i class="icon icon-dashboard"></i>
      Painel informativo
    </a>
      <a routerLink="/buscar-caso" >
        <i class="icon icon-consulta"></i>
      Buscar Caso
    </a>
     <a routerLink="/cadastrar-caso" >
      <i class="icon icon-busca-documento"></i>
      Cadastrar Caso
    </a> 
    <a routerLink="/cadastrar-tag" >
      <i class="icon icon-cadastrar-tag"></i>
      Cadastrar Hashtag
    </a> 
  </mat-expansion-panel>
</mat-accordion>
